.navigationContainer {
  display: grid;
  grid-area: nav;
  align-self: start;
  border: 3px solid #6e7681;
  padding: 5px;
  background-color: #161b22;
}
.activeLink {
  color: #dd5143;
  font-size: 20px;
}
.noActiveLink {
  color: #00a0dc;
  text-decoration: none;
}
.navigationContainer ul {
  color: #dd5143;
  margin-top: 15px;
}
